**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json


.terraformrc
terraform.rc
.terraform.lock.hcl

.idea

node_modules
